html{
    background-image: url(/images/fondo1.jpg); /* Fondo */
    background-color: rgb(0, 110, 255); /* Color de fondo */
    background-size: cover; /* Cubre pagina completa con el fondo */
    background-attachment: fixed; /* Permite el scrolling sin duplicar la imagen */
}

header li img { /* Imagen del Header */
    width: 20px; /* Ancho del Header */
    height: 20px; /* Alto del Header */
}

header img{ /* Imagen del Header */
    width:450px; /* Ancho imagen del Header */
    height:150px; /* Alto imagen del Header */
}
header{ /* Color del Header */
    background: rgba(130, 166, 233, 0.85);

}
nav{ /* Color del nav */
    background-color: rgba(239, 247, 168, 0.89);    
}

footer{ /* Color del Footer*/
    background-color: rgba(239, 247, 168, 0.89);    
}

footer img{ /* Imagen del Footer */
    width:450px;
    height:150px;
}

body{ /* Color del Body */
    background-color: transparent;
}
main .p-4{ 
    border-radius: 20px;
    background-color: rgba(239, 247, 168, 0.89);
}

main .mb-3 {
    border-radius: 20px;
    background: rgba(130, 166, 233, 0.85);
}

.col-md-8{
    background: rgba(130, 166, 233, 0.85);
}


.celeste {
    background: rgba(130, 166, 233, 0.85);
}
.yellow{
    background-color: rgba(239, 247, 168, 0.89);
}
