body {
    background-image: url(../images/uct1.jpg);
    background-color: rgb(0, 110, 255);
    background-repeat: no-repeat;
    background-size: cover; 
}

header{
    background: rgba(130, 166, 233, 0.85);
    border-radius: 20px;
}

header img{
    width:450px;
    height:150px;
}

main  form{
    background: rgba(239, 247, 168, 0.89);
}


/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/


/*
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
          <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>
        
        */