#titulo-noti{

    display: flex;
    margin-top:7%;
    margin-left: 30%;
    margin-right: 30%;
    color:black;


}

#noticia-text{
    display:block;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    width: 40%;
    height: 40%;
}


#cuerpo{
    margin-left: 21%;
    margin-right: 10%;
    margin-bottom: 5%;

}
#titulo{
    
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 5%;

}


#content{

    display: flex;
    margin-right: 20%;
    margin-left: 5%;

}
#txt-title{

    font-display: flex;
    margin-left: 5%;
}
#guardar{

    position: center;
}