.upload{
    background-color: rgba(239, 247, 168, 0.89);
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    border-bottom: 40px solid transparent;
}

#select{
    margin-top: 20px;
    margin-left: 20%;
}

#subir{
    margin-top: 50px;
    margin-left: 23%;
}