
body{
  background-image: url(./images/uct1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;

}


#nav{
  border-radius: 50px;

}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



