

header{
    background: rgba(130, 166, 233, 0.85);
    border-radius: 20px;
}

#logouct{
    padding-top: 10px;
    width:50%;

}




button{
    border-radius: 10px;
    background: rgba(239, 247, 168, 0.89);
    width: 50%;
}

#header{
    height: 100px;
}

.btn{
    
    height: 60px;
}

.y{
    background: rgba(239, 247, 168, 0.89);
    overflow: hidden; 
}

.btn-primary{
    padding-top: 15px;
}


#usuarito{
    height: 50px;
    margin-top: -10px;
    contain: content;
}

/*

    <div className="container" id="navegacion">
      <div className='flex py-3'>
      <p >Bienvenid@ a FÆUCT!</p>
      <img src={logouct} alt="" id="logo"/>
        
        <div>
        {user?.displayName ? (
        <button onClick={handleSignOut}>DesconexionNavBar</button>
        ) : (
        <Link to='/signin'>Conectate!</Link>
        )}
      </div>
      </div>
  </div>






*/