

header{
    background: rgba(130, 166, 233, 0.85);
    border-radius: 20px;
}

header img{
    width:50%;
    height:20%;
}


a{
    text-align:right;
}
header button{
    background: rgba(239, 247, 168, 0.89);
    width: 50%;
}


/*

    <div className="container" id="navegacion">
      <div className='flex py-3'>
      <p >Bienvenid@ a FÆUCT!</p>
      <img src={logouct} alt="" id="logo"/>
        
        <div id='centro'>
        {user?.displayName ? (
        <button onClick={handleSignOut}>DesconexionNavBar</button>
        ) : (
        <Link to='/signin'>Conectate!</Link>
        )}
      </div>
      </div>
  </div>






*/